mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`assets/images/content/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin social(mod)
  div(class="social social--" + mod)
    ul.social__list
      li.social__item
        a.social__link(href='#', title='VK', target='_blank')
          +icon('vk', 'social__icon social__icon--vk')
      li.social__item
        a.social__link(href='#', title='github', target='_blank')
          +icon('github', 'social__icon social__icon--github')
      li.social__item
        a.social__link(href='#', title='Telegram', target='_blank')
          +icon('telegram_logo', 'social__icon social__icon--tg')

mixin user(section)
  if section=='header'
    .header__user.user.js-parallax-user
      .user__image
        +image("alex-about.jpg","Алексей Карасев","user__image-pic")
      .user__info
        h1.user__title Алексей Карасев
        .user__subtitle Личный сайт веб разработчика
  if section=='index'
    .user
      .user__image
        +image("alex-about.jpg","Алексей Карасев","user__image-pic")
      .user__info
        h1.user__title Алексей Карасев
        .user__subtitle Личный сайт веб разработчика
  if section=='blog'
    .header__user.user.js-parallax-user
      .user__image.user__image--blog
        +image("alex-about.jpg","Алексей Карасев","user__image-pic")
      .user__title
        h1.blog__title.title Блог
      .blog__desc Статьи, которые я написал

mixin favicon()
  link(rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png")
  link(rel="manifest" href="assets/images/favicon/site.webmanifest")
  link(rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="theme-color" content="#ffffff")

mixin scroll(mod)
  div(class='scroll scroll--' + `${mod}`)
    button.scroll__btn(type="button")
      +icon("arrow_down","scroll__image")

mixin fixedMenu()
  nav.fixed-menu
    ul.fixed-menu__list
      li.fixed-menu__item
        a.fixed-menu__link(href="works.html") Мои работы
      li.fixed-menu__item
        a.fixed-menu__link(href="blog.html") Блог
      li.fixed-menu__item
        a.fixed-menu__link(href="about.html") Обо мне
      li.fixed-menu__item
        a.fixed-menu__link(href="index.html?auth") Авторизация

mixin preloader()
  .preloader.js-preloader
    .preloader__image
      svg.preloader__image-icon(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="95.113px" viewBox="0 0 80 95.113" enable-background="new 0 0 80 95.113" xml:space="preserve")
        text.preloader__text.js-preloader-text(transform="matrix(1 0 0 1 19.9785 20.5957)", fill="#fff", font-size="24") 0
        path.preloader__path.preloader__path--top(fill="none", stroke="#fff", stroke-width="3.9003", stroke-miterlimit="10", d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
        path.preloader__path.preloader__path--center(fill="none", stroke="#fff", stroke-width="3.9003", stroke-miterlimit="10", d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
        path.preloader__path.preloader__path--bottom(fill="none", stroke="#fff", stroke-width="3.9003", stroke-miterlimit="10", d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")